.carousel-card__item {
    .slick-list {
        height: 1000px;
    }
}

@media screen and (max-width: 1199.98px) {
    .carousel-card__item {

        .slick-next,
        .slick-prev {
            top: 410px;
        }

        .slick-next {
            right: -5%;
        }

        .slick-prev {
            left: -10%;
            z-index: 20;
        }
    }
}

@media screen and (max-width: 991.98px) {
    .carousel-card__item {

        .slick-next,
        .slick-prev {
            top: 410px;
        }

        .slick-next {
            right: -5%;
        }

        .slick-prev {
            left: -10%;
            z-index: 20;
        }
    }
}

@media screen and (max-width: 767.98px) {
    .carousel-card__item {

        .slick-next,
        .slick-prev {
            top: 410px;
        }

        .slick-next {
            right: 1%;
        }

        .slick-prev {
            left: -4%;
            z-index: 20;
        }
    }
}

@media screen and (max-width: 575.98px) {
    .watching-movies {
        margin-right: 2.5rem;
        margin-left: -1rem;
    }

    .carousel-card__item {
        margin-left: 140px;

        .slick-next,
        .slick-prev {
            top: 410px;
        }

        .slick-next {
            right: 15%;
        }

        .slick-prev {
            left: -20%;
            z-index: 20;
        }
    }
}

@media screen and (max-width: 500.98px) {
    .carousel-card__item {
        margin-left: 80px;

        .watching-movies,
        .upcoming-movies {
            margin: 0;
        }

        .slick-next,
        .slick-prev {
            top: 410px;
        }

        .slick-next {
            right: 15%;
        }

        .slick-prev {
            left: -15%;
            z-index: 20;
        }
    }
}

@media screen and (max-width: 450.98px) {
    .carousel-card__item {
        margin-left: 0px;

        .watching-movies,
        .upcoming-movies {
            margin: 0;
        }

        .slick-next,
        .slick-prev {
            top: 410px;
        }

        .slick-next {
            right: 10%;
        }

        .slick-prev {
            left: -15%;
            z-index: 20;
        }
    }
}

@media screen and (max-width: 400.98px) {
    .carousel-card__item {
        margin-left: 48px;

        .slick-next,
        .slick-prev {
            top: 410px;
        }

        .slick-next {
            right: 7%;
        }

        .slick-prev {
            left: -15%;
            z-index: 20;
        }
    }
}

@media screen and (max-width: 390.98px) {
    .watching-movies {
        margin-left: -20px !important;
    }

    .carousel-card__item {
        margin-left: 45px;

        .slick-next,
        .slick-prev {
            top: 410px;
        }

        .slick-next {
            right: 8%;
        }

        .slick-prev {
            left: -13%;
            z-index: 20;
        }
    }
}