@tailwind base;
@tailwind components;
@tailwind utilities;

/* All delay classes will take 2x longer to start */
:root {
    --animate-delay: 2s;
    --animate-duration: 2s;
}

/* All delay classes will take half the time to start */
:root {
    --animate-delay: 0.5s;
}