@tailwind base;
@tailwind components;
@tailwind utilities;

/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
    --animate-duration: 2s;
}

/* This changes all the animations globally */
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}